<h3>Post	a	Comment</h3>
  <%=	form_for	[	@article,	@comment	]	do	|f|	%>
  		<p>
  				commenting as <%= current_user.username %><br/>
  				<%= f.hidden_field :author_name, value: current_user.username %>
  		</p>
  		<p>
  				<%=	f.label	:body	%><br/>
  				<%=	f.text_area	:body, :style => "width:100%;"	%>
  		</p>
  		<p>
  				<%=	f.submit	'Submit'	%>
  		</p>
  <%	end	%>
