<div class="index-header">
	<h2>All	Articles</h2>
</div>

<div class="index-group">
	<ul>
		<%	@articles.each	do	|article|	%>
			<div class="index-article">
					<li>
							<h3><%=	link_to article.title, article_path(article)%></h3>

							<%= ( article.body.slice(5..165)) %>...
					</li>

					<strong>posted on:</strong> <%= article.created_at.strftime("%Y")  %>
					<strong> day_</strong>
      <%= article.created_at.strftime("%j")  %>

			</div>
		<%	end	%>
	</ul>
</div>

<%= will_paginate @posts, :class => 'paginator' %>

<% if current_user.try(:admin?) %>
<%=	link_to	"Create	a	New	Article",	new_article_path %>
<% end %>
