<div class="index-header">
	<h2>All	Articles</h2>
</div>
<div class="brand-login">
  <% if user_signed_in? %>
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'article-arrow' %> |
           <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'article-arrow'  %>
         <% else %>
           <%= link_to "Sign up", new_user_registration_path, :class => 'article-arrow' %> |
           <%= link_to "Login", new_user_session_path, :class => 'article-arrow'  %>
   <% end %>
</div>

<div class="index-group">
	<ul>
		<%	@articles.each	do	|article|	%>
			<div class="index-article">
					<li>
							<h3><%=	link_to article.title, article_path(article)%></h3>

							<%= ( article.body.slice(5..165)) %>
					</li>
			</div>
		<%	end	%>
	</ul>
</div>
<%=	link_to	"Create	a	New	Article",	new_article_path %>
