<header class="index-header">
	<div class="show-group">
		<div class="article-arrow">
			<%= link_to "Previous", @article.prev %>
		</div>
	<h1><%=	@article.title	%></h1>
		<div class="article-arrow">
			<%= link_to "next", @article.next %>
		</div>
	</div>
</header>
<div class="brand-login">
  <% if user_signed_in? %>
           <%= link_to 'Edit profile', edit_user_registration_path, :class => 'article-arrow' %> |
           <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'article-arrow'  %>
         <% else %>
           <%= link_to "Sign up", new_user_registration_path, :class => 'article-arrow' %> |
           <%= link_to "Login", new_user_session_path, :class => 'article-arrow'  %>
   <% end %>
</div>

<div class="article-body">
	<article>
		<%=	raw(@article.body)	%>
	</article>
</div>
<div class="tag-group">
  <%=link_to 'Tags', tags_path,:class => 'article-arrow spacer' %>

	<%	@article.tags.each	do	|tag|	%>
			<%=	link_to	tag.name,	tag_path(tag),:class => 'article-arrow'	%>
	<%	end	%>

</div>
<div class="comment-section">
	<h3>Comments	(<%=	@article.comments.size	%>)</h3>
	<%=	render	partial:	'articles/comment',	collection:	@article.comments.reverse	%>
	<%=	render	partial:	'comments/form'	%>
</div>
<div class="article-links">
	<%=	link_to	"All Articles",	articles_path, :class => 'article-arrow'	%>
	<%=	link_to	"edit",	edit_article_path(@article), :class => 'article-arrow'	%>

</div>
